/* Base styles */
body {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* Copre l'intero schermo con l'immagine di sfondo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
nav {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav #logo {
        height: 30px; /* Imposta l'altezza desiderata */
        width: auto; /* Lascia che la larghezza si adatti proporzionalmente */
        margin-right: 20px; /* Aggiungi margine destro per separare l'immagine dagli altri link */
    }

    nav a {
        color: #d0d0d0;
        text-decoration: none;
        padding: 0.5rem 1rem;
    }

        nav a:hover {
            color: #d0d0d0;
        }

/* Main content styles */
#main-content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    flex: 1;
}

h2 {
    color: #333;
}

/* Cart styles */
#carrello {
    margin-top: 20px;
    width: 100%;
}

    #carrello table {
        width: 100%;
        border-collapse: collapse;
    }

    #carrello th, #carrello td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
    }

    #carrello th {
        background-color: #f2f2f2;
    }

    #carrello td input[type="number"] {
        width: 60px;
    }

    #carrello td button.rimuovi {
        background-color: #ff4d4d;
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }

        #carrello td button.rimuovi:hover {
            background-color: #ff1a1a;
        }

#totale-carrello {
    margin-top: 20px;
    text-align: right;
}

    #totale-carrello h3 {
        color: #333;
    }

    #totale-carrello button {
        background-color: #333;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

        #totale-carrello button:hover {
            background-color: #555;
        }

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 0;
    border-top: 5px;
    position: static;
}

    footer a {
        color: #fff;
        text-decoration: none;
        padding: 0 10px;
    }

        footer a:hover {
            text-decoration: underline;
        }

/* Additional styles for specific pages */
#add-book-form, #search-book-form {
    margin-top: 20px;
}

.risultati-captati {
    margin-top: 20px;
}

/* Owl Carousel styles */
.owl-carousel {
    display: flex;
    justify-content: center;
}

    .owl-carousel .item {
        margin: 10px;
    }

        .owl-carousel .item img {
            width: 100px;
            height: auto;
        }

/* Genre filter styles */
#filtroGenere {
    margin-top: 20px;
    text-align: center;
}

#genere-select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Style for inputs */
input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, select:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

